<!DOCTYPE html>

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Layout</title>
</head>
<body>
    <div>
    <h1>Hello</h1>    
    @RenderBody()
    </div>
</body>
</html>
